{{ define "main" }}
<section id="scroll_anchor" class="author">
  <main>
    <div class="hat_photo_box">
      <div class="hat_photo_sep" aria-label="Леонид Семёнович Павлов"></div>
    </div>
    <article class="about first">
      <div class="preface_container">
        {{ partial "preface-grandson.html" . }}
      </div>
    </article>
    <article class="about">
      <div class="preface_container">
        {{ partial "bio.html" . }}
      </div>
    </article>
  </main>
</section>
{{ end }}