html {
  --black-olive: oklch(37% 0.0264 148);
  --middle-olive: oklch(44% 0.04 148);
  --gray-olive: oklch(55% 0.04 148);
  --light-olive: oklch(74% 0.025 148);
  --smoky-black: oklch(17% 0.01 999);
  --ash-gray-lighter: oklch(86% 0.02 75);
  --ash-gray-half: oklch(84% 0.02 75);
  --ash-gray-quarter: oklch(80% 0.02 75);
  --ash-gray: oklch(75% 0.02 75);
  --battleship-gray: oklch(65% 0.0175 99);
  --ebony-light: oklch(75% 0.0175 99);
  --ebony: oklch(50% 0.02 99);
  --ebony-darker: oklch(45% 0.017 99);
  --air-superiority-blue: oklch(60% 0.06 230);
  --air-superiority-dark: oklch(42% 0.085 230);
  --air-superiority-even-darker: oklch(38% 0.085 230);
  --sahara-accent: oklch(85% 0.04 90);
  --sahara: oklch(72% 0.04 90);
  --sahara-dim: oklch(58% 0.04 90);
  --error-red: oklch(53% 0.21 25);
}
