@import url("https://fonts.googleapis.com/css2?family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* html {
  --black_olive: #374438;
  --smoky_black: #11100a;
  --alabaster: #f2f1ea;
  --ash_gray: #b8b6a3;
  --battleship_gray: #85847b;
  --ebony: #656458;
  --air_superiority_blue: #7198ac;
} */

html {
  --black_olive: oklch(37% 0.0264 148);
  --smoky_black: oklch(17% 0.01 999);
  --alabaster: oklch(96% 0.01 99);
  --ash_gray: oklch(80% 0.015 99);
  --ash_gray_half: oklch(88% 0.015 99);
  --battleship_gray: oklch(65% 0.0175 99);
  --ebony: oklch(50% 0.02 99);
  --air_superiority_blue: oklch(65% 0.06 230);
  --error_red: oklch(45% 0.16 30);
}

html {
  --sheet_of_paper_image: url("{{ .Site.BaseURL }}empty-page-v3.webp");
  --author_in_hat_image: url("{{ .Site.BaseURL }}hat-v3.webp");
  --author_with_medal_image: url("{{ .Site.BaseURL }}medal.webp");
  --author_working_image: url("{{ .Site.BaseURL }}couch.webp");
}

html {
  /* font-size: 87.5%; */
  /* 1rem = 10px; 10px/16px = 62.5% */
  font-family: "Playfair", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  display: flex;
  justify-content: center;
  color: var(--battleship_gray);
  background-color: var(--black_olive);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  font-size: 100%;
}

#root,
#__next {
  isolation: isolate;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: stretch; 
  gap: 3em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  min-height: 100dvh;
  min-width: 70%;
  max-width: clamp(768px, 90%, 98%);
}

@media only screen and (min-width: 825px) {
  #root {
    margin-left: 1em;
    margin-right: 1em;
    /* max-width: 900px; */
    min-width: clamp(768px, 80%, 900px);
    /* min-width: 768px; */
    max-width: clamp(768px, 80%, 900px);
    /* width: clamp(768px, 80%, 900px); */
  }
}

.margin_bottom_1em {
  margin-bottom: 1em;
}

/* --- Header ---------------------------------------------- */

header {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1.5rem;
  justify-items: center;
  align-items: center;
  
}

header h2 {
  grid-column: span 3;
  background: var(--sheet_of_paper_image) no-repeat bottom center;
  background-size: 350px 256px;
  width: 350px;
  height: 4rem;
  text-align: center;
  padding-top: 1.25rem;
  font-size: 1.25rem;
  font-weight: normal;
  color: var(--ebony);
}

@media only screen and (min-width: 425px) {
  header {
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: 825px) {
  header {
    gap: 2rem;
    grid-template-columns: auto auto auto auto;
    justify-items: end;
  }
  header h2 {
    grid-column: span 1;
    justify-self: start;
  }
}

header a {
  color: var(--ash_gray);
  text-decoration: none;
  display: flex;
  gap: 0.6em;
  
}

header a svg {
  fill: var(--ash_gray);
  margin-top: 0.25em;
}

header a div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

header a:hover {
  color: var(--alabaster);
}
header a:hover svg {
  fill: var(--alabaster);
}

/* --- Middle section ---------------------------------------------- */


section {
  position: relative;
}

section.sided {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;;
}

@media only screen and (min-width: 825px) {
  section.sided {
    flex-direction: row;
  }
}

/* --- Main block ---------------------------------------------- */

main {
  position: relative;
}

@media only screen and (min-width: 825px) {
  main {
    flex: 0 1 auto;
  }
}

article {
  padding: 1.5em;
  color: var(--smoky_black);
  background-color: var(--alabaster);
  border-radius: 0.125em;
  box-shadow: 0 0.125em 0.2em 0 var(--smoky_black);
  text-align: left;
}

article.verse {
  font-size: 1.25rem;
  min-height: 1em;
  padding: 1em;
  min-width: max-content;
  width: 100%;
  
}

article.record {
  min-width: 300px; 
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
@media only screen and (min-width: 825px) {
  article.verse {
    min-width: 400px;
    padding: 2em;
  }
  article.record {
    min-width: 500px; 
  }
}

article h1 {
  font-weight: 700;
  font-size: 1.75rem;
  margin-top: 0.3em;
  margin-bottom: 1em;
  line-height: 110%;
  color: var(--ebony);
}

@media only screen and (min-width: 825px) {
  article h1 {
    /* max-width: 18em; */
    max-width: 450px;
  }
}

h1.error {
  color: var(--error_red) !important;
}

article.verse pre {
  display: none;
}

article.verse pre + p {
  margin-top: 0;
}

article.verse h1.margin_bottom_1em {
  margin-bottom: 1em;
}

article.verse h1.margin_bottom_2em {
  margin-bottom: 2em;
}

article.verse p {
  margin-top: 1em;
  margin-bottom: 1em;
}

@media only screen and (min-width: 825px) {
  article.verse {
    /* padding-left: 2em; */
  }
}

article.verse .date {
  color: var(--air_superiority_blue);
  font-style: italic;
  margin-top: 1em;
  margin-right: 3em;
  text-align: right;
}

article.verse p.comment {
  color: var(--ebony);
  font-style: italic;
  margin-left: 1.125em;
}
article.verse .authorcomment {
  color: var(--ebony);
  font-style: italic;
  margin-left: 1.125em;
}
article.verse .footer {
  color: var(--black_olive);
  font-style: italic;
}
article.verse .hidden {
  display: none;
}
article.verse .book {
  color: var(--ebony);
  font-style: italic;
}
article.verse .to {
  color: var(--black_olive);
  font-style: italic;
}
article.verse div.quote {
  color: var(--ebony);
  padding-left: 1em;
  border-left: 1pt solid var(--smoky_black);
}

.record svg {
  fill: var(--ash_gray);
  margin-top: 1.2rem;
  margin-left: 1rem;
  float: left;
}

svg + h1 {
  margin-top: 1rem;
  margin-left: 3.5rem;
}

.record audio {
  width: 100%;
}

article.verse span.comment {
  color: var(--air_superiority_blue);
  font-style: italic;
}

/* --- Side ---------------------------------------------- */

aside {
  /* flex-shrink: 1; */
  /* flex-grow: 1; */
  flex: 1;
}

h3 {
  margin-bottom: 1em;
  margin-left: 1em;
  font-size: 1.5rem;
  color: var(--battleship_gray);
  font-weight: 700;
}

ol {
  list-style: none;
  counter-reset: custom-counter;
  color: var(--battleship_gray);
  line-height: 1.3;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding-inline-start: 0;
}

.two_column ol {
  column-count: 1;
  column-gap: 1em;
}

@media only screen and (min-width: 825px) {
  ol {
    font-size: 0.875rem;
  }
  .two_column ol {
    column-count: 2;
    font-size: 1rem;
  }
}

ol li {
  counter-increment: custom-counter;
  position: relative;
  padding-left: 4em;
  margin-bottom: 0.8em;
}
ol li::before {
  content: counter(custom-counter) ". ";
  position: absolute;
  left: 0;
  text-align: right;
  width: 3em;
  color: var(--battleship_gray);
}
ol li a {
  color: var(--ash_gray);
  text-decoration: none;
}
ol li.active {
  background-color: var(--alabaster);
  border-radius: 0.125em;
  padding: 0.3em 2em 0.3em 4em;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}
ol li.active a {
  color: var(--smoky_black);
}
ol li a:hover {
  color: var(--alabaster);
}
ol li.active a:hover {
  color: var(--smoky_black);
}

/* --- About author ---------------------------------------------- */

.photo_box {
  width: 100%;
  position: relative;
  transition: ease-in-out 0.5s;
  --proportion: 1;
  --use_width: 100px;
  height: calc( var(--proportion) * var(--use_width) );
}

.photocard {
  background-image: var(--image_url);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: calc( var(--use_width) ) calc( var(--proportion) * var(--use_width) );
  width: calc( var(--use_width) );
  height: calc( var(--proportion) * var(--use_width) );
  position: absolute;
  top: 0;
  right: 50%;
  transform: translateX(50%);
  transition: ease-in-out 0.5s;
}

/* HAT -------------- */

.hat {
  --image_url: var(--author_in_hat_image);
  --proportion: calc( 1045 / 811 ) !important;
  --use_width: 250px !important;
  height: calc( var(--proportion) * var(--use_width) - 6.5em ) !important;
}

.hat .photocard {
  top: -1.5em;
}

@media only screen and (min-width: 825px) {
  .hat {
    --use_width: 300px !important;
  }
  .hat .photocard {
    top: -2.5em;
    right: 10%;
    transform: none;
  }
}

/* MEDAL -------------- */

.medal {
  --image_url: var(--author_with_medal_image);
  --proportion: calc( 1358 / 1121 ) !important;
  --use_width: 250px !important;
  height: calc( var(--proportion) * var(--use_width) - 4rem ) !important;
}

/* COUCH -------------- */

.couch {
  --image_url: var(--author_working_image);
  --proportion: calc( 1217 / 1580 ) !important;
  --use_width: 320px !important;
  height: calc( var(--proportion) * var(--use_width) - 4rem ) !important;
}

.couch .photocard {
  top: 1em;
}

@media only screen and (min-width: 825px) {
  .couch {
    --use_width: 600px !important;
  }
}

/* ABOUT TEXT -------------- */

.preface_container {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.preface_container p {
  text-indent: 2em;
}

@media only screen and (min-width: 825px) {
  .author_container {
    padding-left: 1em;
  }
  .preface_container {
    padding-left: 1em;
    padding-right: 1em;
  }
}

article.about  {
  margin-top: 2rem;
  max-width: 550px;
}

article.first {
  padding-top: 4em;
  /* margin-right: 2em; */
}

article.about h1 {
  font-size: 1.75rem;
  color: var(--ebony);
  margin-top: 1em;
}

article.about p {
  font-size: 1.25rem;
  color: var(--smoky_black);
  margin-bottom: 0.3em;
}

article.about p.right_aligned {
  text-align: right;
  color: var(--battleship_gray);
  font-size: 1rem;
}

article p.right_aligned {
  text-align: right;
}

sup a {
  text-decoration: none;
}

article.about a {
  color: var(--air_superiority_blue);
}

article.about a:hover {
  color: var(--black_olive);
}

svg.author-icon {
  width: 1em;
  height: 1em;
  fill: var(--black_olive);
}

/* --- Footer ---------------------------------------------- */

footer {
  font-size: 0.75rem;
  margin-top: 3rem;
  margin-bottom: 1rem;
  color: var(--ebony);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25em;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media only screen and (min-width: 825px) {
  footer {
    flex-direction: row;
  }
}
