<h1 class="margin_bottom_1em">Биография</h1>
<p>Леонид Семенович Павлов родился в 1923 г. в г. Череповце. В 1940 г. закончил среднюю школу и поступил в
  Военно-инженерное училище. С началом войны вступил в ряды Красной Армии. С января 1942 г. до конца блокады
  воевал на Ленинградском фронте. Служил командиром взвода в инженерных войсках, заместителем командира роты
  и начальником штаба стрелкового батальона в общевойсковых соединениях. В ноябре 1942 г. на Ленинградском
  фронте вступил в ряды партии.</p>
<p>Леонид Семенович участвовал в боях под Красным Бором, Невской Дубровкой по прорыву и снятию блокады в
  55-й и 67-й Армиях. Воевал в 44-й стрелковой дивизии, с июля 1944 года 1-й помощник начальника штаба 25-го
  стрелкового Островского батальона. Был дважды ранен. В начале января 1945 г. получил тяжелое ранение и
  восемь месяцев пролежал в госпитале. В результате ранения стал инвалидом 2-й группы.</p>
<p>После войны учился в Ленинградской областной партшколе, затем работал первым секретарем райкома ВЛКСМ.
  Много лет был секретарем партийной организации фабрики, работал заместителем директора по кадрам, затем
  директором Всеволожской трикотажной фабрики. Неоднократно избирался членом райкома КПСС, депутатом местных
  Советов.</p>
<p class="right_aligned">из издания АОЗТ РАНЕТ</p>