<header>
  <div><h2>Стихи Леонида Павлова</h2></div>
  <a class="{{- if and (not (in .RelPermalink "/verses/")) (not (in .RelPermalink "/recordings/")) -}}active{{- end -}}" href="{{- .Site.BaseURL -}}" data-debug="{{- .RelPermalink -}}" data-discover="true" aria-current="page">
    {{- partial "icons/person.html" (dict "width" "1em" "height" "1em" "title" "об авторе" ) -}}
    <div>об авторе</div>
  </a><a class="{{- if in .RelPermalink "/verses/" -}}active{{- end -}}" href="{{- .Site.BaseURL -}}verses" data-discover="true">
    {{- partial "icons/open-book.html" (dict "width" "1em" "height" "1em" "title" "стихи" ) -}}
    <div>стихи</div>
  </a><a class="{{- if in .RelPermalink "/recordings/" -}}active{{- end -}}" href="{{- .Site.BaseURL -}}recordings" data-discover="true">
    {{- partial "icons/speaker.html" (dict "width" "1em" "height" "1em" "title" "аудиозаписи" ) -}}
    <div>аудиозаписи</div>
  </a>
</header>