{{ define "main" }}
    <section id="scroll_anchor" class="two_column">
      <h3>все записи:</h3>
      <ol>
        {{ range sort (where .Site.RegularPages "Section" "recordings") "Title" "asc" }}
          <li>
            <a class="" href="{{ .Permalink }}">{{ .Params.title | default .RelPermalink }}</a>
          </li>
        {{ end }}
      </ol>
      <div class="couch_photo_box">
        <div class="couch_photo_sep" aria-label="Леонид Семёнович Павлов"></div>
      </div>
    </section>
{{ end }}