{{ define "main" }}
<section id="scroll_anchor" class="sided">
  <main>
    <article class="verse">
      {{ partial "large-speaker-icon.html" . }}
      <h1 class="margin_bottom_1em">{{ .Page.Title }}</h1>
      <audio preload="auto" controls="" controlslist="nofullscreen nodownload">
        <source src="{{ .Site.Params.RecordingsBaseUrl }}{{ .Page.Params.filename }}" type="audio/mpeg">Ваш браузер не поддерживает тэг audio.
      </audio>
    </article>
  </main>
  <aside>
    <h3>все записи:</h3>
    <ol>
      {{ range sort (where .Site.RegularPages "Section" "recordings") "Title" "asc" }}
      <li class="{{ if eq .RelPermalink $.Page.RelPermalink }}active{{ end }}"><a href="{{ .Permalink }}">{{ .Params.title | default .RelPermalink }}</a></li>
      {{ end }}
    </ol>
  </aside>
</section>
{{ end }}