{{ define "main" }}
<section id="scroll_anchor">
  <main>
    <div class="sheet record-sheet">
      <article class="record">
        {{ partial "large-speaker-icon.html" . }}
        <h1 class="margin-bottom-1em">{{ .Page.Title }}</h1>
        <audio preload="auto" controls="" controlslist="nofullscreen nodownload">
          <source src="{{ .Site.Params.RecordingsBaseUrl }}{{ .Page.Params.filename }}" type="audio/mpeg">Ваш браузер не поддерживает тэг audio.
        </audio>
        {{ .Content }}
      </article>
    </div>
  </main>
</section>
<section id="scroll-anchor" class="two-column">
    <h3>все записи:</h3>
    {{ partial "list-recordings.html" . }}
</section>
<div class="photo-box couch">
  <div class="photocard" aria-label="Леонид Семёнович Павлов"></div>
</div>
{{ end }}